
@{
    ViewData["Title"] = "Registro";
}

<h2>Registro</h2>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}

<form method="post">

    <div>
        <label>Nombre</label>
        <input type="text"
               name="nombre"
               required />
    </div>

    <div>
        <label>Correo</label>
        <input type="email"
               name="correo"
               required />
    </div>

    <div>
        <label>Contraseña</label>
        <input type="password"
               name="password"
               required />
    </div>

    <button type="submit">
        Registrarse
    </button>

</form>